@model Blue.Models.NetworkGraph

<div id="network" style="width:100vw; height:  100vh;">
    
</div>

<link rel="stylesheet" href="/content/vis/vis-network.css" />
<script src="/content/vis/vis-network.min.js"></script>
<script>
(function () {
  const container = document.getElementById('network');
  const data = @Html.Raw(Json.Serialize(Model));
    const options = {
      layout: {
        // Makes the graph consistent every time
        randomSeed: 0,
        hierarchical: {
          enabled: false,
          sortMethod: "directed"
        }
      },
      interaction: {
        zoomSpeed: .5
      },
      physics: {
        enabled: true,
        barnesHut: {
          avoidOverlap: 0
        },
        stabilization: {
          enabled: true,
          iterations: 1000,
          updateInterval: 50
        }
      }
    };

    const network = new vis.Network(container, data, options)
    .on("stabilized", () => network.setOptions({physics:false}));

})();
</script>