<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <link rel="stylesheet" href="/content/blue.css"></link>
    <title>blue</title>

</head>
<body>
<nav class="navbar flex">
    <div class="navbar-menu">
        <a href="/" class="navbar-link">Home</a>
        <a href="/network" class="navbar-link">Network</a>
        <a href="/network/dns" class="navbar-link">Private DNS</a>
        <a href="/network/vnets" class="navbar-link">Vnet CIDRS</a>
    </div>
</nav>
<div class="flex vertical" style="margin-top: 4rem; overflow: scroll;">
    @RenderBody()
</div>
</body>
</html>